@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

/* estou deixando o body flex para que eu possa mexer todas as divs e os itens dentro do body como um todo */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #111;
  width: 100%;
  overflow: hidden;
}

img{
  position: relative;
  display: flex;
  align-items: first baseline;
  right: 38vh;
  bottom: 320px;
  width:40px;
  height: 40px;
} 

.nome, .user, .emailCelular,.senha, .senhaLogin, .EmailCelularLogin{
  position: absolute;
  background-color: transparent;
  color: #706f6f;
  top: 221px;
  left: 12px;
} .user{
  top: 306px;
} .emailCelular{
  top: 391px;
} .senha{
  top: 476px;
} .senhaLogin{
  top: 415px;
} .EmailCelularLogin{
  top: 330px;
}

/* para mexer especificamente nessa div, preciso deixar flex e decidir a sua orientação */
.ring {
  position: relative;
  width: 670px;
  height: 670px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* o right me ajuda a não criar mais margens, apenas movendo o content */
}

.ring i{
  position: absolute;
  inset: 0;
  /* age como uma margin, deslocando a div fisicamente.
  deixo 0 para definir sua margim em relação a div pai (body).
  */
  border: 2px solid #fff;
  transition: 0.5s;
}

/* a pseudo classe nth-child age como um seletor de elementos filhos de acordo com a sua posição entre os elementos irmãos */
.ring i:nth-child(1) {
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;;
  animation: animate 6s linear infinite;
}
.ring i:nth-child(2) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate 4s linear infinite;
} 
.ring i:nth-child(3) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate2 10s linear infinite;
}
 /* o infinite da animação faz com que não pare de executar oq foi pedido */
.ring:hover i{
  /* a var busca as cores definida no html */
  border: 6px solid var(--clr);
  filter: drop-shadow(0 0 20px var(--clr));
  /* posso mudar o contraste e aplicas outros efeitos, como o blur.
  o drop-shadow aplica efeito de sombra
  */
}

/*Keyframes controla as etapas em uma sequência de animação definindo estilos*/
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* os numeros correspondem com a velodidade escolhida */

.login {
  position: absolute;
  /* preciso adicionar absolute para sobresair as outras divs, caso contrário não consigo clicar em nada; */
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  /* aplica uma separação entre eles */
}  
 
.login h2 {
  font-size: 2em;
  color: #ebeaea;
  font-family: "Freeman", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32PX;
}

.login p {  
  color: #ebeaea;
  font-weight: 400;
  font-style: oblique;
  font-size: 13PX;
}

 .login .inputBx input {
  position: relative;
  width: 310px;
  height: 50px;
  background: #262626;
  border: 2px solid #484848;
  border-radius: 20px;
  font-size: 1em;
  color: #ffffffbf;
  box-shadow: none;
  outline: none;
  margin-bottom: 15px;
} 

.login .inputBx input[type="submit"] {
  background: #ff005790;
  border: none;
  cursor: pointer;
  font-weight: 800px;
  color: #fff;
  transition: all 8s ;
}
.inputBx input[type="submit"]:hover {
  background: linear-gradient(45deg, #d30449, #d30449);
}

.login .inputBx input::placeholder {
  color: rgba(212, 212, 212, 0.75);
}

.login .links {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  bottom: 12px;
}

.login .links p {
  color: #fff;
  font-size: small;
  font-style: normal;
  text-decoration: none;
} 

.login .links a  {
  color: #d7d5d5;
  text-decoration: none; 
} 

.login .links a:hover  {
  color: #9e9e9e;
  text-decoration: none; 
} 
