@font-face {
    font-family: MFF;
    src:url('https://files.jcink.net/uploads2/rainshine/fonts/MonsterFriendFore.otf'); 
  } 
  
  @font-face {
    font-family: RH;
    src:url('https://files.jcink.net/uploads2/rainshine/fonts/rainyhearts.ttf'); 
}

/* configurando posição left e rigth, mais body e todo seu posicionamento */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    color: #FFF;
    font-family: RH;
    overflow-x: hidden;
}

.blue {
    color: #033c8c;
}

main {
    display: flex;
    width: 100%;
    background: #262626;
}

#left {
    
    width: 50%;
    height: 100vh;
    padding: 2rem;
  
}

#img3D {
    position: fixed;
    width: 50%;
    float: right;
    right: 0;
}

/* confugurando informações da div infp_container e info que contém o h1 e o p  */
  
#info_container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    width: 100%;
    gap: 3vh;
}

#intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
    text-align: center;
}


#intro h1 {
    font-size: 50px;
    font-family: MFF;
    text-shadow: 2px 0 0 #0983d5;
}


#intro p {
    width: 70%;
    font-size: 15px;
    font-family: RH;
    text-transform: uppercase;
    color: #d6d6d6;
}

#sum {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
} 

#mode_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;

    font-family: RH;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 900;
}

button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

/* button img {
    display: flex;
    max-width: 40px;
    transition: 0.6s;
} */

#page_crossword,
#page_list {
    transition: 0.8s;
}



#list_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transition: 0.6s;
    gap: 1.5vh;
}


.rows span{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 95%;
    font-size: 16px;
    text-transform: uppercase;
    text-align: left;
    left: 22px;
    top: 10px;
    color: #e5e4e4;
    text-shadow: 1px 0 0 #e5e4e4;
}

.rows p{
   margin-right: 12px;
   font-size: 11px;
   font-family: MFF ;
}

.item-row {

    width: 25%;
    padding: 0.7rem;
    
}

td {
    width: 21px;
    height: 21px;
    color: #f0f0f0;
    font-weight: bold;
    font-size: 10px;
    text-align: center;
    border: none;
    border-radius: 2px;
    margin: 0;
    font-family: MFF;
}


input {
    background-color: #bebfc2;
    width: 30px;
    height: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid #000;
    outline: none;
}

.select-disable{
    height: 30px;
    width: 30px;
}